<p>User Information</p>
<form>
  <div fxLayout="column">
    <!-- <label for="uname"><b>Username</b></label> -->
    <mat-form-field>
      <input matInput type="text" placeholder="Name" name="name" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Email" name="email" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Phone Number" name="phoneNumber" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Participant Number" name="participant" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Password" name="passsword" required>
    </mat-form-field>
  </div>
</form>

<p>Assigned Projects</p>