<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="task">
    <th mat-header-cell *matHeaderCellDef> Task </th>
    <td mat-cell *matCellDef="let row;let i = index">{{i}} </td>
  </ng-container>
  
  <ng-container matColumnDef="user">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let row">{{row.currentData.name}}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let row">{{row.currentData.date}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="toggle">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let row"  > 
      <mat-checkbox (click)="changeStatus(row)"></mat-checkbox>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</table>