<button mat-raised-button routerLink="/admin/accounts">Back</button>


<p>User Information</p>

<div *ngIf="savedSuccessfully">Save was successfull</div>
<div *ngIf="addedSuccessfully">Add was successfull</div>

<form [formGroup]="participantForm">
    <div fxLayout="column">
        <mat-form-field>
            <input matInput type="text" placeholder="Name" formControlName="name" required>
            <mat-error *ngIf="participantForm.controls['name'].invalid  && participantForm.controls['name'].errors?.required ">Name is required</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput type="text" placeholder="Participant Code" formControlName="participantCode" required>
            <mat-error *ngIf="participantForm.controls['participantCode'].invalid  && participantForm.controls['participantCode'].errors?.required ">Participant Code is required</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput type="password" placeholder="Password" formControlName="password">
        </mat-form-field>

        <mat-form-field>
            <mat-select placeholder="Permission Level" formControlName="role" required>
                <mat-option value="admin">Admin</mat-option>
                <mat-option value="user">User</mat-option>
                <mat-option value="view">View Only</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-select placeholder="Status" formControlName="status" required>
                <mat-option value="N">Non Active</mat-option>
                <mat-option value="Y">Active</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</form>


<button *ngIf="participantCode" mat-raised-button (click)="confirmSave()">Save</button>
<button *ngIf="participantCode" mat-raised-button (click)="confirmDelete()">Delete</button>
<button *ngIf="!participantCode" mat-raised-button (click)="confirmAdd()">Add</button>
