<!-- Rooms Table -->
<form>
  <mat-table class="table-margin-bottom" #table [dataSource]="dataSource">
    <!-- <ng-container matColumnDef="[position]">
      <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-form-field floatLabel="{{ row.editing ? 'float' : 'never'}}">
          <input matInput [readonly]="!row.editing" placeholder="Position" [(ngModel)]="row.currentData.position">
        </mat-form-field>
      </mat-cell>
    </ng-container> -->
    <ng-container matColumnDef="building">
      <mat-header-cell *matHeaderCellDef> Building </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-form-field floatLabel="{{ row.editing ? 'float' : 'never'}}">
          <input matInput [formControl]="row.validator.controls['building']" placeholder="Building" [(ngModel)]="row.currentData.building">
        </mat-form-field>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="roomNumber">
      <mat-header-cell *matHeaderCellDef> Room Number </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-form-field floatLabel="{{ row.editing ? 'float' : 'never'}}">
          <input matInput [formControl]="row.validator.controls['roomNumber']" placeholder="Room Number" [(ngModel)]="row.currentData.roomNumber">
        </mat-form-field>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="actionsColumn">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="accent" (click)="dataSource.createNew()"><i class="fa fa-plus mat-icon"></i></button>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button *ngIf="!row.editing" mat-icon-button color="primary" focusable="false" (click)="row.startEdit()">
              <i class="fa fa-pencil mat-icon"></i>
            </button>
        <button *ngIf="row.editing" mat-icon-button color="primary" focusable="false" (click)="confirmSave(row)">
              <i class="fa fa-check mat-icon"></i>
            </button>
        <button mat-icon-button color="primary" focusable="false" (click)="cancelOrDelete(row)">
              <i class="fa fa-times mat-icon"></i>
            </button>
      </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

</form>  