<p>User Information</p>
<form>
  <div fxLayout="column">
    <!-- <label for="uname"><b>Username</b></label> -->
    <mat-form-field>
      <input matInput type="text" placeholder="Name" name="name" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Email" name="email" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Phone Number" name="phoneNumber" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Participant Number" name="participant" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Password" name="passsword" required>
    </mat-form-field>
  </div>
</form>

<p>Assigned Projects</p>

      <mat-table class="table-margin-bottom" #table [dataSource]="dataSource">
        <ng-container matColumnDef="projectName">
          <mat-header-cell *matHeaderCellDef> Project Name </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-form-field floatLabel="{{ row.editing ? 'float' : 'never'}}">
              <input matInput [disabled]="!row.editing" [readonly]="!row.editing" placeholder="projectName"
                [(ngModel)]="row.currentData.projectName">
            </mat-form-field>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-form-field floatLabel="{{ row.editing ? 'float' : 'never'}}">
              <input matInput [disabled]="!row.editing" type="number" placeholder="Status" [(ngModel)]="row.currentData.status">
            </mat-form-field>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="actionsColumn">
          <mat-cell *matCellDef="let row">
            <button *ngIf="row.editing" mat-icon-button color="primary" focusable="false" (click)="confirmSave(row)">
              <i class="fa fa-check mat-icon"></i>
            </button>
            <button mat-icon-button color="primary" focusable="false" (click)="cancelOrDelete(row)">
              <i class="fa fa-times mat-icon"></i>
            </button>
          </mat-cell>
        </ng-container>
      
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>


