<div *ngIf="fishfeed" class="lol">

  <!-- this the the welcome part -->
  <h1>Welcome {{authService.getLoggedInUserName()}}</h1>
  <p>Today's Fish Feeding Status - {{fishfeed.status}}</p>

  <p *ngIf="fishfeed.status != 'On the way'">Last Fed by {{fishfeed.participantCode}}</p>
  <p *ngIf="fishfeed.status == 'On the way'">{{fishfeed.participantCode}} is on the way</p>
  <p>{{fishfeed.dateTimeUpdated | date:'MMM d, y, h:mm a':'+0000'}}</p>
  <br />

  <form (ngSubmit)="onSubmit(form)" #form="ngForm" *ngIf="fishfeed.status != 'Completed' && !authService.userIsViewOnly()">
    <p>Change fish feeding status</p>
    <mat-form-field>
      <mat-select name="status" placeholder="Fish Fed" required ngModel>
        <mat-option value="On the way">I am going to feed fish</mat-option>
        <mat-option value="Completed">Fish have been Fed</mat-option>
      </mat-select>
    </mat-form-field>
    <button type="submit">
      <h4>Submit</h4>
    </button>
  </form>
</div>