<p>Tank Information</p>
<!-- 
    ngModel on inputs, change row to tank, 
    show who's (single person, 3 letter username) assigned to the tank, 
    drop-down with species and number of that species, 
    user can't change project ID/tank ID/user assigned (make it a label, not a input if it's a user), 
    display project name not ID,
    change room the tank is in,
    trial codes on initial page (ask Ron if he cares)
    NTH: SnackBar 
  -->

<form [formGroup]="tankForm">
  <div fxLayout="column">
    <mat-form-field>
      <input matInput type="number" id="tankId" placeholder="Tank ID" formControlName="tankId" required />
    </mat-form-field>

    <mat-form-field>
      <input matInput type="number" id="projID" placeholder="Project ID" formControlName="projID" required />
    </mat-form-field>

    <mat-form-field>
      <input matInput type="number"   placeholder="User ID" formControlName="maintainer_participantCode" required />
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" id="trialCode" placeholder="Trial Code" formControlName="trialCode" required />
    </mat-form-field>

    <mat-form-field>
      <mat-select matInput placeholder="Tank Status" name="status" formControlName="status" required>
        <mat-option *ngFor='let status of statusList' [value]='status.value'>
          {{ status.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" id="speciesNames" placeholder="Species Names" formControlName="speciesNames" />
    </mat-form-field>
  </div>
</form>

<p>
  <button mat-raised-button (click)="confirmSave(tankForm)">Save</button>
  <button mat-raised-button (click)="confirmDelete(tankForm)">Delete</button>
</p>