<p>Tank Information</p>
<form>
  <div fxLayout="column">
    <!-- If modify, get row from datasource with id in route (?) and fill values of form accordingly -->
    <mat-form-field>
      <input matInput type="text" placeholder="Tank ID" value="{{ row.id }}" name="tankID" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Project ID" value="{{ row.projID }}" name="projID" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="User ID" value="{{ row.UID }}" name="UID" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Tank Status" value="{{ row.status }}" name="status" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Species Names" value="{{ row.speciesNames }}" name="speciesNames" required>
    </mat-form-field>
  </div>
</form>


<p><button mat-raised-button (click)="confirmSave(row)">Save</button>
<button mat-raised-button (click)="confirmDelete(row)">Delete</button></p>


