<h3 fxLayout="row" fxLayoutAlign = "center"> 
  Week of {{dateSunday() | date }} &mdash; {{dateSaturday() | date}}  
</h3>

<mat-tab-group routerTabs> 
  <mat-tab label="Global Level" routerLink="global">
    <app-maintenance-global-level></app-maintenance-global-level>
  </mat-tab>
  <mat-tab label= "Room Level" routerLink="room"> 
      <mat-tab-group routerTabs>  
        <mat-tab [label]= "room.building + ' ' + room.roomNumber" 
        *ngFor="let room of maintenanceRoomService.roomInfo$ | async" 
        [routerLink]="buildRoomUrl(room.roomId)">
        </mat-tab>
      </mat-tab-group>
      <router-outlet></router-outlet>
  </mat-tab>
</mat-tab-group>
