<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">
    
    <!-- Tank ID Column -->
    <ng-container matColumnDef="tankId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tank ID</th>
      <td mat-cell *matCellDef="let row">{{row.tankId}}</td>
    </ng-container>

    <!-- User ID Column -->
    <ng-container matColumnDef="trialCode">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Trial Code</th>
      <td mat-cell *matCellDef="let row">{{row.trialCode}}</td>
    </ng-container>

    <!-- Tank Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tank Status</th>
      <td mat-cell *matCellDef="let row">{{row.status}}</td>
    </ng-container>

    <!-- Species Names Column -->
    <ng-container matColumnDef="maintainer_participantCode">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Person who this tank is assigned to</th>
      <td mat-cell *matCellDef="let row">{{row.maintainer_participantCode}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index"
      [ngClass]="{'highlight': selectedTankId == row.tankId}"
      (click)="highlightSelectedRow(row.tankId)"> 
    </tr>
  </table>

  <mat-paginator #paginator
    [length]="dataSource?.data?.length"
    [pageIndex]="0"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 50]">
  </mat-paginator>

  <button *ngIf="authService.userIsAdmin()" mat-raised-button (click)="addRow()">Add</button>
  <button mat-raised-button (click)="modifyRow()" [disabled]="selectedTankId == 0">Modify</button>
</div>